extends layout

block content
 .jumbotron
  .container
   h1 欢迎来到 Microblog
   p Microblog 是一个基于 Node.js 的微博系统。
   p
    a.btn.btn-primary.btn-large(href="/login") 登录
    a.btn.btn-large(href="/reg") 注册
 .container#container
  .row
   .col-md-4
    h2 Emily 说
    p 东风破早梅 向暖一枝开 冰雪无人见 春从天上来
   .col-md-4
    h2 Emily 说
    p 东风破早梅 向暖一枝开 冰雪无人见 春从天上来
   .col-md-4
    h2 Emily 说
    p 东风破早梅 向暖一枝开 冰雪无人见 春从天上来
