extends layout
block content
 if (!user)
  .jumbotron
   .container
    h1 欢迎来到 Microblog
    p Microblog 是一个基于 Node.js 的微博系统。
    p
     a.btn.btn-primary.btn-large(href="/login") 登录
     a.btn.btn-large(href="/reg") 注册
 else 
  include ./say.jade
 .container
  include ./posts.jade


